[submodule "src/MPU9255/lib/MPU925X"]
	path = src/MPU9255/lib/MPU925X
	url = git@github.com:dylanlyu/MPU925X.git
[submodule "src/MPU9255/lib/KalmanFilter"]
	path = src/MPU9255/lib/KalmanFilter
	url = git@github.com:TKJElectronics/KalmanFilter.git
[submodule "src/MPU9255/lib/BasicLinearAlgebra"]
	path = src/MPU9255/lib/BasicLinearAlgebra
	url = git@github.com:tomstewart89/BasicLinearAlgebra.git
[submodule "src/MPU9255/src/MPU9255/lib/MadgwickAHRS"]
	path = src/MPU9255/src/MPU9255/lib/MadgwickAHRS
	url = git@github.com:arduino-libraries/MadgwickAHRS.git
[submodule "src/MPU9255/lib/MadgwickAHRS"]
	path = src/MPU9255/lib/MadgwickAHRS
	url = git@github.com:arduino-libraries/MadgwickAHRS.git
